<div class="container">
  <mat-toolbar>
    <span>CATEGORÍAS</span>
    <div class="example-spacer"></div>
      <button (click)="addEditCategorias()" mat-raised-button color="primary" style="text-align: right">Agregar</button>
  </mat-toolbar>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>


  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. ium"
      #input
      autocomplete="off"
    />
  </mat-form-field>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
          No.
        </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.Nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" style="text-align: right">
          <a class="pointer" (click)="addEditCategorias(element.CategoriaID)" style="color: #223cac" matTooltip="Editar">
            <mat-icon>edit</mat-icon>
          </a>
          <a class="pointer" (click)="eliminarUsuario(element.CategoriaID)" style="color: #c02a4b" matTooltip="Eliminar">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
