<h2 mat-dialog-title>{{operacion}} Producto</h2>

<form [formGroup]="form" (ngSubmit)="addEditProducto()">
  <mat-dialog-content>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label >Categoría</mat-label>
          <mat-select formControlName="CategoriaID" placeholder="Seleccione una categoría">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.CategoriaID">
              {{ categoria.Nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="error" *ngIf="form.get('CategoriaID')?.invalid && form.get('CategoriaID')?.touched">
          La categoría es un campo <strong>requerido</strong>
        </div>



        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input
            formControlName="Nombre"
            matInput
            placeholder="Ingrese el nombre"
            autocomplete="off"
          />

        </mat-form-field>
        <div class="error" *ngIf="form.get('Nombre')?.hasError('required') && form.get('Nombre')?.touched">
          El nombre es un campo <strong>requerido</strong>
        </div>
        <div class="error" *ngIf="form.get('Nombre')?.hasError('pattern')">
          El nombre solo puede contener letras y números.
        </div>
        <div class="error" *ngIf="form.get('Nombre')?.hasError('maxlength')">
          El nombre no debe exceder los 50 caracteres.
        </div>
        <br>
        <div class="error" *ngIf="form.get('Nombre')?.hasError('minlength')">
          El nombre debe tener un mínimo de 3 carácter.
        </div>


        <mat-form-field appearance="fill">
          <mat-label>Precio</mat-label>
          <input
            formControlName="Precio"
            matInput
            placeholder="Ingrese el precio"
            autocomplete="off"
          />

        </mat-form-field>
        <div class="error" *ngIf="form.get('Precio')?.hasError('required') && form.get('Precio')?.touched">
          El nombre es un campo <strong>requerido</strong>
        </div>
        <div class="error" *ngIf="form.get('Precio')?.hasError('pattern')">
          Por favor, ingrese un número positivo.
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Stock</mat-label>
          <input
            formControlName="Stock"
            matInput
            placeholder="Ingrese el stock"
            autocomplete="off"
          />

        </mat-form-field>
        <div class="error" *ngIf="form.get('Stock')?.hasError('required') && form.get('Stock')?.touched">
          El nombre es un campo <strong>requerido</strong>
        </div>
        <div class="error" *ngIf="form.get('Stock')?.hasError('pattern')">
          Por favor, ingrese un número entero positivo.
        </div>


      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
    <button [disabled]="form.invalid" type="submit" mat-button cdkFocusInitial>
      Aceptar
    </button>
  </mat-dialog-actions>
</form>
